html {
    font-family: 'Open Sans', sans-serif;
}

main {
    display: block;
    max-width: 1000px;
    min-width: 500px;
    height: 100%;
    margin: 0 auto;
}

header {
    background-color: white;
    max-width: 1000px;
    min-width: 600px;
    height: 60px;
    padding: 0 10px;
    display: grid;
    border-bottom: 1px solid black;
    grid-template-columns: repeat(2, minmax(250px, 500px));
    grid-template-rows: 60px;
}

#page-title {
    font-family: 'Proza Libre', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

#page-title a {
    color: black;
    text-decoration: none;
}

nav li {
    display: inline;
    float: right;
    margin-right: 15px;
}

nav li a {
    font-size: 16px;
    font-weight: 700; 
    color: black;
    text-decoration: none;
}

#contact {
    margin-right: 0;
}

#about-me {
    display: grid;
    max-width: 1000px;
    min-width: 600px;
    height: 400px;
    grid-template-columns: minmax(450px, 650px) minmax(300px, 350px);
    grid-template-rows: 50px 300px;
    margin-bottom: 30px;
}

.section-headers {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 700;
}

#about-me p {
    grid-row: 2 / span 1;
    max-width: 570px;
    min-width: 300px;
}

.my-image {
    display: block;
    margin: 30px auto;
    grid-area: 1 / 2 / 3 / 3;
    align-content: center;
    width: 290px;
    height: 340px;
    border-radius: 5px;
}

#projects {
    margin-bottom: 40px;
}

#projects li {
    list-style-type: "»   ";
    font-weight: 600;
    font-size: 18px;
}

#projects li a {
    color: black;
    text-decoration: none;
}

#skills {
    margin-bottom: 40px;
}

.skills-icon {
    display: inline;
    margin-right: 20px;
}

#footer-p {
    text-align: center;
}

.contact-icons {
    display: inline;
    margin-right: 20px;
}

@media only screen and (max-width: 790px) {

    .my-image {
        display: none;
    }
    
}